.classpath
.project
.settings/
.checkstyle

.idea/
.idea/gradle.xml
.idea/libraries
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules
.idea/inspectionProfiles

.idea/workspace.xml
.idea/tasks.xml



*.iml
*.ipr
*.iws
build/
.gradle
gradle/
gradlew
*.bat
model/build/
rest/build/

